body{
	margin:0;
}

h2{
	margin:0 0 10px 0;
}

.item-a { 
	grid-area: header; 
	background-color: #A7BAF0;
	color: white;
	padding:10px;
	} 


.item-b {
	 display: flex;
	 flex-direction: column;
	 grid-area: main; 
	 background-color: #DFE3EE;
	 padding: 10px;
	 grid-row-gap: 10px;
	 } 


.item-d { 
	 	grid-area: footer;
	 	background-color: #A7BAF0;
		color: white; 
		grid-row-start: 4;
		padding:10px;

	 }

.main-container { 
	display: grid; 
	grid-template-columns: auto; 
	grid-template-rows: 100px, auto, 100px; 
	grid-template-areas: "header" "main" "footer";
}

.container {
	display: flex;
	flex-direction: row;
	flex-basis:200px;
}

.image_card{
	object-fit: cover;
	flex-basis: 200px;
}

.info {
	display: flex;
	flex-direction: column;
	background-color: white;
	flex-grow: 1;
	padding: 10px;
	justify-content: space-between;
}

.title-and-description{
	display: flex;
	flex-direction: column;
}

.prix {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
